{
    "twitter-token": "",
    "telegram-token": "",
    "telegram-channel": "@nanabunnonijyuuni_tweet",
    "accounts": [
        {
            "name": "天城サリー",
            "username": "sally_amaki",
            "id": "997111977699786752",
            "since_id": "1474415315203555330"
        },
        {
            "name": "藤間桜",
            "username": "_fujimasakura",
            "id": "1000967999325519873",
            "since_id": "1474748219041402884"
        },
        {
            "name": "22/7",
            "username": "227_staff",
            "id": "812662608478113793",
            "since_id": "1475067686531244035"
        },
        {
            "name": "吉宮瑠織",
            "username": "ru_ri0808",
            "id": "1473946466075176964",
            "since_id": "1474704301859946497"
        },
        {
            "name": "戸田ジュン",
            "username": "_todajun",
            "id": "1000970975989514240",
            "since_id": "1464607701866975235"
        },
        {
            "name": "白沢かなえ",
            "username": "kanae_shirosawa",
            "id": "1370752096564248583",
            "since_id": "1474997254214004738"
        },
        {
            "name": "丸山あかね",
            "username": "_maruyamaakane",
            "id": "1000971311458369541",
            "since_id": "1475031172996820994"
        },
        {
            "name": "西條和",
            "username": "nagomi_saijo",
            "id": "1411289667941453832",
            "since_id": "1460960967332823043"
        },
        {
            "name": "滝川みう",
            "username": "_takigawamiu",
            "id": "1000971934127964160",
            "since_id": "1474736114217132034"
        },
        {
            "name": "武田愛奈",
            "username": "aina__227",
            "id": "1002390562316607488",
            "since_id": "1474733197737234439"
        },
        {
            "name": "柊つぼみ",
            "username": "_tsubomihiiragi",
            "id": "1111884807770783747",
            "since_id": "1474724167463612419"
        },
        {
            "name": "浅倉唯",
            "username": "_asakurayui",
            "id": "1419893595637616641",
            "since_id": "1475086620047327233"
        },
        {
            "name": "河瀬詩",
            "username": "kawase_uta_0227",
            "id": "1215919170228875264",
            "since_id": "1474657963747188737"
        },
        {
            "name": "斎藤ニコル",
            "username": "_saitonicole",
            "id": "1000972253218025472",
            "since_id": "1474920201317937153"
        },
        {
            "name": "涼花萌",
            "username": "moepiyo_227",
            "id": "1010769160220041216",
            "since_id": "1474635280313634817"
        },
        {
            "name": "神木みかみ",
            "username": "_mikamikamiki",
            "id": "1111881880519925760",
            "since_id": "1474729759129374722"
        },
        {
            "name": "宮瀬玲奈",
            "username": "reinyan_0526",
            "id": "997301392120299521",
            "since_id": "1474973508124155914"
        },
        {
            "name": "立川絢香",
            "username": "_tachikawaayaka",
            "id": "1000971170869530624",
            "since_id": "1474701573872041986"
        },
        {
            "name": "千春",
            "username": "chiharu_okr",
            "id": "1430141852284428290",
            "since_id": "1475105371408986115"
        },
        {
            "name": "佐藤麗華",
            "username": "_satoreika",
            "id": "1000970713975537664",
            "since_id": "1365303152149286913"
        },
        {
            "name": "東条悠希",
            "username": "_yukitojo",
            "id": "1111884315288199168",
            "since_id": "1451783976109023235"
        },
        {
            "name": "河野都",
            "username": "_konomiyako",
            "id": "1000968972194332673",
            "since_id": "1464596892134768643"
        }
    ]
}
